@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-gray: hsl(0, 0%, 48%);
}

.font-commissioner {
  font-family: "Commissioner", sans-serif;
}

.logo {
  transform: translate(-7%, -12%)
}

.svg-circle {
  fill: var(--dark-cyan);
}

.svg-bookmark {
  fill: white;
}

a.left-hover
{
    position: relative;
}

a.left-hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.left-hover:hover:before {
  visibility: visible;
  width: 100%;
}

input[type=radio] {
  accent-color: var(--dark-cyan);
  width: 20px;
  height: 20px;
}

.placeholder {
  position: absolute;
  font-size: 16px;
  color: var(--dark-gray);
  pointer-events: none;
  left: 15px;
  top: 12px;
}
