@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-gray: hsl(0, 0%, 48%);
}

* {
  font-family: "Commissioner", sans-serif;
}

.logo {
  transform: translate(-7%, -12%)
}

.svg-circle {
  fill: var(--dark-cyan);
}

.svg-bookmark {
  fill: white;
}

a.left-hover
{
    position: relative;
}

a.left-hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.left-hover:hover:before {
  visibility: visible;
  width: 100%;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 0 1px gray;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 1px var(--moderate-cyan);
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: var(--moderate-cyan);
}

input[type="radio"]:hover {
  box-shadow: 0 0 0 1px var(--moderate-cyan);
}

.placeholder {
  position: absolute;
  font-size: 16px;
  color: var(--dark-gray);
  pointer-events: none;
  left: 15px;
  top: 12px;
}

/* IE10 */
progress {
  color: var(--moderate-cyan);
}

/* Firefox */
progress::-moz-progress-bar {
  background: var(--moderate-cyan);
}

/* Chrome */
progress::-webkit-progress-value {
  background: var(--moderate-cyan);
  border-radius: 0.5rem;
}

progress::-webkit-progress-bar {
  border-radius: 0.5rem;
  background-color: rgb(241 245 249);
}
