@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --tomato: hsl(4, 100%, 67%);
  --light-grey: hsl(231, 7%, 60%);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bg-dark-slate {
  background-color: var(--dark-slate-grey);
}

.bg-tomato {
  background-color: var(--tomato);
}

.text-charcoal {
  color: hsl(235, 18%, 26%);
}

.text-light-grey {
  color: hsl(231, 7%, 60%);
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.45s;
}

.modal-show {
  visibility: visible;
  opacity: 1;
  transition: all 0.45s;
}

.form-error {
  background:rgba(255, 98, 87, 0.1);
  border-color: 1px solid var(--tomato);
  color: var(--tomato);
}

.notice-error {
  color: var(--tomato);
}
